<header>
<div class="header">
  <img src="/ft.png">
  <div class="header-logo">ファーストツール（株）</div>

  <div class="header-list">
    <ul>
      <a href="/">ホーム</a>
      <a href="about">会社概要</a>
      <a href="contents">業務内容</a>
      <a href="#">社員ログイン</a>
    </ul>
  </div>
</div>
</header>

<div class="main1">
    <div class="copy-container">
      <h1 >Fast Tool Corporation</h1>
      <h2>超硬オリジナルTools数種類の工具を一本化！短納期にお答え致します</h2>
    </div>
</div>



<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      今日からProgateでRailsの勉強するよー！
    </div>
    <div class="posts-index-item">
      投稿一覧ページ作成中！
    </div>
  </div>
</div>
